# Version control
.git
.gitignore

# Dependencies
**/node_modules

# Build outputs & cache
**/.next
**/dist
**/build
**/.turbo

# Environment variables & local configuration
.env
.env.*
!.env.example

